/*#009921*/
.logo-bar
{
	background-color:#0f8402;
	padding-top: 8px;
	padding-bottom: 8px;

}
.logo-bar a
{
	color:white;
}
.logo-left
{
	float:left;
}
.search-bar
{
	float:right;
	margin-top: 10px;
}
.search-container button
{
	cursor: pointer;
	margin-left: -5px;
	background: none;
	border:none;
	color:white;
}
.search-container input
{
	color:white;
	min-width: 200px;
	background: none;
	border:none;
	border-bottom: solid 1px white;
}
.search-container input:focus
{
	outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
.menu
{
	background: #f2f2f2
}
.img-logo
{
	float:left;
}
.main-menu
{
	list-style-type: none;
	text-align: right;
	display: inline;
	float: right;
}
.main-menu li 
{
	float:left;
	font-size: 14px;
	padding:10px 20px 10px 20px;
	border-left:solid 1px #ccc;
}
.main-menu a 
{
	text-decoration: none;
	color:#666;
	font-weight: 500;
	padding-bottom: 2px;
}
.main-menu a:hover
{
	border-bottom:solid 2px #f71b1b;

}
.main-menu li:hover
{
	background: #ccc;
}
.banner-content 
{
	padding-top:10px;
}
.vertical-menu
{
	background: white;
	border-radius: 4px;
}
.vertical-menu p 
{
	text-indent: 10px;
    margin-bottom: 0;
    padding: 9px 0;
    background: #218402;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
.item-vertical
{
	list-style-type: none;
	background: white; 
	padding-left:18px;
	padding-right:18px;
	padding-bottom: 10px;
}
.item-vertical a 
{
	text-decoration: none;
	font-size:15px;
	color:#666;
}
.item-vertical li
{
	position: relative;
	padding-top:7px;
	padding-bottom: 6px;
	border-bottom: dotted 1px #ccc;
}
.show-more-menu 
{
	position: absolute;
    top: 8px;
    right: -15px;
    cursor: pointer;
}
.menu-con
{
	display: none;
	list-style-type:none;
	padding-left:10px;

}
.block-run
{
	margin-top:8px;
}
.detail-titel
{
	color:#000;
	border-bottom: solid 4px #0f8402;
	display: inline-block;
	font-weight: 600;
	padding-bottom: 3px;
}
.pord 
{
	background: #0f8402;
	height: auto;
}
.link-pump 
{
	padding-top: 10px;
	text-align: center;
	height: 100%;
	padding:18px 0 15px 0;
}
.link-pump a
{
	font-size: 18px;
	color:white;
	text-transform: uppercase;

}
.products-owl
{
	padding-left:0;
	background: white;
}
.slide-product 
{
	background: white;

}
.slide-product img
{
	height: 279px;

}
.slide-product a
{
	color:black;
	text-decoration: none;

}
.slide-product  p 
{
	padding:4px 18px;
	text-align: center;
}
.footer 
{
	margin-top:30px;
	background: white;
	border-top:solid 8px #009921;
	margin-bottom: 200px;
	padding-top:30px;
	padding-bottom: 50px;
}
.left-footer h4 
{
	color:black;
}
.right-footer 
{
	
}
.list-product 
{
	margin-bottom: 20px;
}
.owl-mini 
{
	margin-top:18px;
}
.item-mini 
{
	width: 160px;
}
.list-product 
{
	padding-top:20px;
}
.vertical-menu-product ul
{
	background: #f5f5f5;
}
.vertical-menu .menu2
{
	margin-top:15px;
}
.img-product 
{
	max-width: 100%;
	height: 240px;
	width: 240px;
}
.name-product
{
	margin-top:5px;
}
.detail-product 
{
	text-align: center;
}
.detail-product .name-product a
{
	text-decoration: none;
	color:#000;
	font-size:14px;
}
.detail-product .brand-product p
{
	color:#888888;
	font-size:12px;
	margin-top:5px;
}
.brand-product a 
{
    color:#888888;
}
.price-product span	 
{
	font-weight: 600;
    font-size: 14px;
    color: #007ac2;
}
.all-product 
{
	margin-bottom: 20px;
}
.single-product 
{
	padding-top:16px;
	height: 301px;
}
.name-detail h1
{
	color:;
	font-size:40px;
	line-height: 1.2em;
	font-weight: bold;
	text-align: left;
}
.price-detail 
{
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	padding:6px 0;
}
.price-detail-main
{
	font-size: 28px;
    color: #007ac2;
    font-weight: bold;
}
.short-description 
{
	margin-top:30px;
	font-size:14px;
}
.content-description-detail
{
	border: solid 1px #ccc;
    border-top: none;
    padding: 12px;

}
.description-detail 
{
	margin-bottom: 50px;
}
.titel-more h2
{
	color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    padding: 5px 10px 5px 0;
    position: relative;
    display: inline-block;
    /*font-family: 'Arial', sans-serif;*/
    text-transform: uppercase;
    letter-spacing: normal;
    border-bottom: 3px solid #007ac2;
}
.more-product 
{
	margin-top: 20px;
}
.titel-more
{
	padding: 0;
    text-align: left;
 
}
.slide-more 
{
	background: white;
	margin-left:12px;
	margin-right: 0;
}
.des-more 
{
	padding:10px 6px;
	text-align: center;
}
.des-more a
{
	font-size:14px;
	text-decoration: none;
	color:#000;
	text-align: center;
}
.by-more p
{
	color:#888888;
	font-size:12px;
	text-align: center;
	padding-bottom: 0;
}
.more-price p 
{
	font-weight: 600;
    font-size: 14px;
    color: #007ac2;
   	padding-bottom: 12px;
   	text-align:center;
}
.list-product-search
{
	background: white;
}
.pagination-area 
{
	text-align: center;
}
.img-detail 
{
	cursor: pointer;
	transition: transform .2s;
}
.img-detail:hover
{
	-ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2);
    background: white;
    z-index: 9999;
    padding-left:10%;
    padding-right: 10%;
    border:solid 1px gray;
    padding-left:5px;
}
.csgh
{
	margin-top: 10px;
}
.csgh-title 
{
	text-transform:uppercase;
	color:black;
	font-size:14px;
	text-align: center;
}
.viewmore
{

	padding-bottom: 6px;
}
.shaper
{
	margin-top: 5px;
}